body {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: white
}

h1 {
    color: #808080;
    text-align: center;
    margin-top: 2rem;
    font-size: 2em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.percentage {
    font-size: 0.em;
    width: 50;
    float: right;s
    padding-left: 2px;
}

.c1 {
    width: 150;
    float: left;
}


.center-container {
    display: flex;
    flex-direction: line;
    flex-wrap: wrap;
    margin: 10px;
    justify-content: space-around;
    padding: 20px;
}

.flex-border-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    background-color: white;
    border-radius: 1.5rem;
    padding: 10px;
    color:black;
}

.flex-left-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}

.flex-main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1.5rem;

}

.flex-container {
    display: flex;
    flex-direction: line;
    flex-wrap: wrap;
    align-content: left;
    margin: 5px;
}
.hidden {
    display: none;
}

.label-container {
    min-width: 120px;
}

button {
    background-color: #efefef;
    border-radius: 3px;
    border: 1px solid black;
    padding: 5px 12px;
    margin: 0;
}

:root {
    --select-border: black;
    --select-focus: blue;
    --select-arrow: var(--select-border);
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: none;
    padding: 0 1em 0 0;
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
    z-index: 1;
    outline: none;
}

select::-ms-expand {
    display: none;
}

.select {
    display: grid;
    grid-template-areas: "select";
    align-items: center;
    position: relative;
    min-width: 4ch;
    border: 1px solid var(--select-border);
    border-radius: 0.25em;
    padding: 0.25em 0.25em;
    cursor: pointer;
    line-height: 1.1;
    background-color: #fff;
    background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
}

.select select,
.select::after {
    grid-area: select;
}

.select::after {
    content: "";
    justify-self: end;
    width: 0.8em;
    height: 0.5em;
    background-color: var(--select-arrow);
    clip-path: polygon(0 0, 50% 90%, 100% 0, 100% 10%, 50% 100%, 0 10%);
}

input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    margin: 10px 0;
}

input[type=range]:focus {
    outline: none;
  }

  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: #3071A9;
    border-radius: 6px;
    border: 1px solid #000000;
  }

  input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 1px #000000;
    border: 1px solid #000000;
    height: 15px;
    width: 15px;
    border-radius: 15px;
    background: #FFFFFF;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -6px;
  }

  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #3071A9;
  }

  input[type=range]::-moz-range-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: #3071A9;
    border-radius: 15px;
    border: 1px solid #000000;
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 1px #000000;
    border: 1px solid #000000;
    height: 15px;
    width: 15px;
    border-radius: 15px;
    background: #FFFFFF;
    cursor: pointer;
  }