body {background-color:white;
	  border: 100px solid black;
  	  padding: px;
      border-radius: 10px;
}
h1{color:grey;
  text-align: center;
  text-color: black;	
  
}
p {
  text-align: center;
  color: black;
  
}


